*.iml
.gradle
.idea/
local.properties
*.lock
*.aidl
*.ap_
*.dex
*.jar
*.jks
*.jw
*.keystore
*.ods
*.safariextz
bin/
capture_screen*.png
DocsHTMLReferenceTmp/
.*
!.github
!.gitignore
!.gitattributes
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
flutter_*.png
linked_*.yaml
unlinked_spec.yaml
windows/flutter/generated_plugin_registry.cc
windows/flutter/generated_plugins.cmake
windows/flutter/generated_app.rc
windows/flutter/generated_windows_build_system.props
windows/flutter/flutter_windows.cmake
